@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #2d2319;
}

.header {
    background-image: url('../images/header_img.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.header img {
    width: 100%;
    margin: 32px auto;
}

.contents {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1300px;
}

h1 {
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
    margin-top: 1rem;
    color: #a5834f;
}

h2 {
    font-size: 3rem;
    font-family: 'Oswald', sans-serif;
    color: #a5834f;
    margin-top: 32px;
}

h3 {
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    margin: 1rem 0;
    color: #a5834f;
}

p {
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    color: #aa926f;
    text-align: center;
}

.nav {
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #aa926f;
    font-size: 24px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
    position: fixed;
    z-index: 999999;
}

.nav a {
    display: inline-block;
    margin: 0 2rem;
    text-decoration: none;
    color: #382c20;
    line-height: 4rem;
}

.nav a:hover {
    color: #d1c8aa;
}

.section {
    padding: 0 85px;
    justify-content: center;
    align-items: center;
}

.section_title {
    color: #b49173;
    text-align: center;
}

.story_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.story_content.rev {
    flex-direction: row-reverse;
}

.story_content_title {
    text-align: center;
    color: #b49173;
}

.story_content_text {
    color: #a68468;
    justify-content: center;
}

.story_content_text p {
    margin-bottom: 32px;
}

.story_text {
    flex-grow: 1;
    padding: 55px;
    max-width: 60%;
}

.story_image {
    display: flex;
    align-items: center;
    max-width: 50%;
}

.story_image img {
    width: 100%;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    width: 245px;
}

.card_name {
    text-align: center;
}

.card_description {
    text-align: center;
    margin-bottom: 8px;
}

figcaption {
    color: white;
    text-align: center;
    padding: 5px;
}

.img_gallery {
    display: flex;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.img_gallery figure {
    margin: 8px 11px;
    position: relative;
    max-width: 350px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 12px 12px 20px 20px;
}

.img_gallery figure img {
    max-width: 100%;
}

.img_gallery figure figcaption {
    position: absolute;
    left: 0;
    right: 0;
    align-items: top center;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    bottom: -100%;
    transition: all 0.5s ease;
    display: flex;
    padding: 8px;
}

.img_gallery figure:hover figcaption {
    opacity: 0.95;
    bottom: 0;
}

.separator {
    border-bottom: solid 2px #aa926f;
    margin: 16px 80px;
}

.contact_form {
    display: flex;
    justify-content: center;
}

#formulario {
    width: 100%;
    max-width: 768px;
    margin: 0 60px;
}

input[type='text'],
[type='email'],
[type='tel'],
select,
textarea {
    background: white;
    border: 1px solid #333;
    color: #333;
    margin: 10px 0px;
    padding: 15px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(255, 555, 255, 0.5);
}

::-webkit-input-placeholder {
    color: #382c20;
}

.form_buttons {
    display: flex;
    justify-content: center;
}

.form_button {
    background: none;
    border: solid 2px #382c20;
    color: #382c20;
    background-color: #a5834f;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 20px 35px;
    margin: 0 50px;
    border-radius: 8px;
}

.form_button:hover {
    background-color: #efefef;
    color: #111;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.footer p {
    font-size: 1rem;
}

@media screen and (max-width: 1110px) {
    .story_text {
        padding: 16px;
    }

    .section {
        padding: 16px 0;
    }
}

@media screen and (max-width: 700px) {
    .story_content {
        flex-direction: column;
    }

    .story_content.rev {
        flex-direction: column;
    }

    .story_text {
        padding: 16px;
        max-width: 100%;
    }

    .story_image {
        max-width: 100%;
    }

    .story_content_text p {
        margin-bottom: 8px;
        margin-top: 16px;
    }

    .nav a {
        margin: 0 1rem;
    }
}
